<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rencangku"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5z7pB1rtnC_cgB0ErIbi8pwk0y2b9zbY" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.onboarding.ActivityOnboardingLast" />
        <activity android:name=".ui.register.CreateAccountActivity" />
        <activity android:name=".ui.login.SignInActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.preference.PreferenceActivity" />
        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.detailResto.DetailRestoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.maps.MapsNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_navigation" />

    </application>
</manifest>